<div class="homePage">
    <div class="col-md-4">
        <h1>Welcome to the school portal</h1>
        <hr />
        <br />
        <div class="log">
            <h4>You can log like administrator or student:</h4>
            <br />
            <a [routerLink]="['/login']" class="btn btn-primary"><button class="navigation">Log in</button></a
      >
      <hr />
      <h4>You can make new account only like administrator:</h4>
      <br />
      <a [routerLink]="['/signup']" class="btn btn-primary"
        ><button class="navigation">Sign up</button></a
      >
      <hr />
      <br />
    </div>
  </div>
</div>