.administrator {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.student {
    display: flex;
    min-width: 200px;
}

.dugmad {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit,
.delete {
    width: 100px;
    height: 25px;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: "Times New Roman";
    padding-left: 5px;
    color: #3e1061;
    border: 2px solid #3e1061;
    border-radius: 7px;
    background-image: linear-gradient(to right, #3570c2, #add3ff, #bdd8ff);
    font-weight: bold;
}