/* You can add global styles to this file, and also import other style files */

html,
body {
    min-height: 100%;
    margin: 0;
    min-width: 100%;
    position: absolute;
    background: linear-gradient(#3570C2, #94B9FF, #ADD3FF, #BDD8FF) fixed;
}

.navigation {
    width: 180px;
    height: 25px;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Times New Roman';
    padding-left: 5px;
    color: #3E1061;
    border: 2px solid #3E1061;
    border-radius: 7px;
    background-image: linear-gradient(to right, #3570C2, #ADD3FF, #BDD8FF);
    font-weight: bold;
}