<div class="editing">
    <div *ngIf="grades">
        <div>
            <h3>Serbian Language:</h3>
            <ul>
                <li *ngFor="let grade of grades.serbianLanguage; let i = index">
                    <input type="text" value="{{ grade }}" disabled="disabled" />
                    <button (click)="deleteGradeFromArray('serbian', i)">Delete</button>
                </li>
            </ul>
            <!-- <input [(ngModel)]="serbian" name="serbian" #ctrl="ngModel" required type="text" placeholder="Write new grade"> -->
            <!-- <input type="text" placeholder="Write new grade" #serbian required /> -->
            <select #serbian required>
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
        <option [value]="5">5</option>
      </select>
            <button (click)="onAdd('serbian', serbian.value)">
        Add grade
      </button>
        </div>
        <div>
            <h3>English Language:</h3>
            <ul>
                <li *ngFor="let grade of grades.englishLanguage; let i = index">
                    <input type="text" value="{{ grade }}" disabled="disabled" />
                    <button (click)="deleteGradeFromArray('english', i)">Delete</button>
                </li>
            </ul>
            <!-- <input [(ngModel)]="english" name="english" #ctrl="ngModel" required type="text" placeholder="Write new grade"> -->
            <!-- <input type="text" placeholder="Write new grade" #english required /> -->
            <select #english required>
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
        <option [value]="5">5</option>
      </select>
            <button (click)="onAdd('english', english.value)">
        Add grade
      </button>
        </div>
        <div>
            <h3>Math:</h3>
            <ul>
                <li *ngFor="let grade of grades.math; let i = index">
                    <input type="text" value="{{ grade }}" disabled="disabled" />
                    <button (click)="deleteGradeFromArray('math', i)">Delete</button>
                </li>
            </ul>
            <!-- <input [(ngModel)]="math" name="math" #ctrl="ngModel" required type="text" placeholder="Write new grade"> -->
            <!-- <input type="text" placeholder="Write new grade" #math required /> -->
            <select #math required>
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
        <option [value]="5">5</option>
      </select>
            <button (click)="onAdd('math', math.value)">Add grade</button>
        </div>
        <div>
            <h3>Biology:</h3>
            <ul>
                <li *ngFor="let grade of grades.biology; let i = index">
                    <input type="text" value="{{ grade }}" disabled="disabled" />
                    <button (click)="deleteGradeFromArray('biology', i)">Delete</button>
                </li>
            </ul>
            <!-- <input [(ngModel)]="biology" name="biology" #ctrl="ngModel" required type="text" placeholder="Write new grade"> -->
            <!-- <input type="text" placeholder="Write new grade" #biology required /> -->
            <select #biology required>
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
        <option [value]="5">5</option>
      </select>
            <button (click)="onAdd('biology', biology.value)">
        Add grade
      </button>
        </div>
        <div *ngIf="averageGrades">
            <li *ngFor="let sub of nameOfSub; let i = index">
                <!-- <li *ngFor="let val of averageGrades;"> -->
                <label>Average grade for subject {{ sub }}: {{ averageGrades[i] }}</label>
            </li>
        </div>
        <button (click)="onClick()">Back</button>
    </div>
</div>